<h1>User Dashboard</h1>

<div class="card-container">

    <div class="card">
        <div class="icon">🎟️</div>
        <a href="/booking/add">Book Flight</a>
    </div>

    <div class="card">
        <div class="icon">📋</div>
        <a href="/booking/my">My Bookings</a>
    </div>

</div>

<br>
<a href="/logout" class="logout-wrapper"><button>Logout</button></a>